@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.ttf?a4llne") format("truetype"),
		url("../fonts/icomoon.woff?a4llne") format("woff"),
		url("../fonts/icomoon.svg?a4llne#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak-as: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-fac:before {
	content: "\e900";
}
._icon-inst:before {
	content: "\e901";
}
._icon-arr:before {
	content: "\e902";
}
._icon-clock:before {
	content: "\e903";
}
._icon-com:before {
	content: "\e904";
}
._icon-foto:before {
	content: "\e905";
}
._icon-left:before {
	content: "\e906";
}
._icon-mail:before {
	content: "\e907";
}
._icon-map:before {
	content: "\e908";
}
._icon-nav:before {
	content: "\e909";
}
._icon-right:before {
	content: "\e90a";
}
._icon-star:before {
	content: "\e90b";
}
._icon-tel:before {
	content: "\e90c";
}
._icon-telv2:before {
	content: "\e90d";
}
._icon-world:before {
	content: "\e90e";
}
