/*TODO================FONTS STYLE START=================*/
@font-face {
	font-family: "Avenir Next";
	src: url("../fonts/AvenirNextCyr-Bold.woff2") format("woff2");
	font-weight: 750;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Avenir Next";
	src: url("../fonts/AvenirNextCyr-Demi.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Avenir Next";
	src: url("../fonts/AvenirNextCyr-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Avenir Next";
	src: url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Avenir Next";
	src: url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/*TODO================FONTS STYLE END=================*/
/*TODO================RESET STYLE START=================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*TODO================RESET STYLE END=================*/
/*TODO=================COMMON STYLES START===================*/
*,
::before,
::after {
	box-sizing: border-box;
	transition: 0.3s;
}
html {
	scroll-behavior: smooth;
	font-size: 10px;
}
:root {
	--light: #fff;
	--dark: #000;
	--theme-color: #32d29f;
	--theme-color-2: #2bbb97;
	--theme-color-3: #25aef6;
	--theme-color-4: #a7c0e2;
	--theme-color-5: #afb9dd;
	--theme-color-6: #16395b;
	--box-sh-theme: 0px 15px 20px hsla(161, 64%, 51%, 0.5);
}
body {
	font-family: "Avenir Next";
	font-weight: 500;
	font-size: 2rem;
	background-color: var(--light);
	color: var(--dark);
}
a,
::before,
::after {
	display: inline-flex;
	text-decoration: none;
	color: inherit;
}
input,
select,
textarea,
button {
	font: inherit;
	color: inherit;
}
button,
input {
	cursor: pointer;
}
:focus {
	outline: none;
}
.container {
	max-width: 1410px;
	margin: 0 auto;
	width: 100%;
}
.titles {
	font-size: 2.4rem;
	margin-bottom: 30px;
}
.button {
	min-width: 98px;
	min-height: 36px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1.4rem;
	padding: 10px;
	border-radius: 2px;
}
.button-theme-1 {
	color: var(--light);
	background-color: var(--theme-color);
	border: 1px solid var(--theme-color);
}
.button-theme-1:hover,
.button-theme-1:focus {
	color: var(--theme-color);
	background-color: var(--light);
}
.button-theme-2 {
	min-width: 135px;
	color: var(--theme-color-2);
	border: 1px solid var(--theme-color-2);
	background-color: transparent;
}
.button-theme-2:hover,
.button-theme-2:focus {
	color: var(--light);
	background-color: var(--theme-color-2);
}
/*TODO=================COMMON STYLES END===================*/
/*TODO=================HEADER START===================*/
.header {
	border-bottom: 1px solid #c0d3fe;
}
.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 17px 0;
	font-size: 1.6rem;
}
.header__logo img {
	width: 155px;
	height: auto;
}
.header__search {
	border: 1px solid #d2e1f5;
	border-radius: 4px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 9px;
	width: 389px;
}
.header__search input[type="search"] {
	flex-grow: 1;
	border: none;
}
.header__search input[type="button"] {
	margin-left: 10px;
}
.header__search input[type="search"]::placeholder {
	color: var(--theme-color-4);
}
.header__nav {
	display: flex;
	align-items: center;
}
.header__burger {
	color: var(--theme-color-6);
	display: flex;
	align-items: center;
}
.navbar__button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 24px;
	width: 24px;
	background-color: transparent;
	border: none;
}
.navbar__button:focus {
	outline: none;
	/* border: 3px solid var(--theme-color); */
}
.navbar__button span {
	height: 3px;
	width: 25px;
	background-color: var(--theme-color-6);
}
.navbar__button span:nth-of-type(n + 2) {
	margin-top: 4px;
}
/*TODO=================HEADER END===================*/
/* Desktop first method

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
	.container-large {
		max-width: 100%;
		/* padding: 0 15px; */
	}
}
/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
	.container {
		max-width: 960px;
	}
}
/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	.container {
		max-width: 720px;
	}
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
/* // X-Small devices (iPhone 5/5s/SE, equals to 320px) */
@media (max-width: 320px) {
}
