/*TODO================ FONTS STYLE START =================*/
@font-face {
	font-family: "Avenir Next";
	src: url("../fonts/AvenirNextCyr-Bold.woff2") format("woff2");
	font-weight: 750;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Avenir Next";
	src: url("../fonts/AvenirNextCyr-Demi.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Avenir Next";
	src: url("../fonts/AvenirNextCyr-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Avenir Next";
	src: url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Avenir Next";
	src: url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/*TODO================ FONTS STYLE END =================*/
/*TODO================ RESET STYLE START =================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*TODO================ RESET STYLE END =================*/
/*TODO================= COMMON STYLES START ===================*/
*,
::before,
::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	font-size: 10px;
}
:root {
	--light: #fff;
	--dark: #000;
	--theme-color: #32d29f;
	--theme-color-2: #2bbb97;
	--theme-color-3: #25aef6;
	--theme-color-4: #a7c0e2;
	--theme-color-5: #afb9dd;
	--theme-color-6: #16395b;
	--theme-color-7: #d2e1f5;
	--sh-theme: 5px 5px 4px rgba(0, 0, 0, 0.25);
	--sh-theme-2: 4px 4px 3px rgba(0, 0, 0, 0.3);
}
body {
	font-family: "Avenir Next";
	font-weight: 500;
	font-size: 2rem;
	background-color: var(--light);
	color: var(--dark);
}
a,
::before,
::after {
	display: inline-flex;
	text-decoration: none;
	color: inherit;
}
input,
select,
textarea,
button {
	font: inherit;
	color: inherit;
}
button {
	cursor: pointer;
}
:focus {
	outline: none;
}
.container {
	max-width: 1410px;
	margin: 0 auto;
	width: 100%;
	padding: 0;
}
.titles {
	font-size: 2.4rem;
	margin-bottom: 30px;
}
.button {
	min-width: 98px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1.4rem;
	border-radius: 2px;
	transition: 0.3s;
}
.button-theme-1 {
	color: var(--light);
	background-color: var(--theme-color);
	border: 1px solid var(--theme-color);
	padding: 10px 18px;
}
.button-theme-1:hover,
.button-theme-1:focus {
	color: var(--theme-color);
	background-color: transparent;
}
.button-theme-2 {
	min-width: 135px;
	color: var(--theme-color-2);
	border: 1px solid var(--theme-color-2);
	background-color: transparent;
	padding: 10px 23px;
}
.button-theme-2:hover,
.button-theme-2:focus {
	color: var(--light);
	background-color: var(--theme-color-2);
}
.sub-logo {
	width: 100px;
	height: auto;
}
.tel {
	transform: scale(1.3) translateX(-6px);
}
.icons-theme-1 {
	font-size: 1.6rem;
}
.icons-theme-2 {
	font-size: 2.4rem;
}
.sliderBtn {
	border: 1px solid var(--theme-color-2);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: transparent;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}
.sliderBtn:hover,
.sliderBtn:focus {
	background-color: var(--theme-color-2);
}
.sliderBtn i {
	color: var(--theme-color-2);
	transition: 0.3s;
}
.sliderBtn:hover i,
.sliderBtn:focus i {
	color: var(--light);
}
.link-more {
	margin-top: 40px;
	color: var(--theme-color-3);
	font-weight: bold;
	text-decoration: underline;
}
.link-more:hover,
.link-more:focus {
	text-decoration: none;
	text-shadow: var(--sh-theme-2);
}
/*TODO================= COMMON STYLES END ===================*/
/*TODO================= HEADER START ===================*/
.header {
	border-bottom: 1px solid #c0d3fe;
	position: relative;
}
.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 17px;
	padding-top: 17px;
	font-size: 1.6rem;
}
.header__logo img {
	width: 155px;
	height: auto;
}
.header__search {
	border: 1px solid var(--theme-color-7);
	border-radius: 4px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 9px;
	width: 389px;
}
.header__search input[type="search"] {
	flex-grow: 1;
	border: none;
}
.header__search input[type="button"] {
	margin-left: 10px;
}
.header__search input[type="search"]::placeholder {
	color: var(--theme-color-4);
}
.header__nav-right {
	display: flex;
	align-items: center;
	color: var(--theme-color-6);
}
.nav-right-btn {
	margin-right: 38px;
	display: flex;
	align-items: center;
	padding: 10px 16px;
}
.nav-right-btn i {
	margin-right: 8px;
}
.lang-container {
	position: relative;
	min-width: 75px;
	margin-right: 30px;
}
.header__lang {
	position: absolute;
	z-index: 999;
	top: -20px;
	border: 1px solid transparent;
	transition: 0.3s;
}
.header__lang:hover,
.header__lang:focus-within {
	border: 1px solid var(--theme-color-6);
}
.lang__list:nth-of-type(n + 2) > .lang__link {
	font-size: 0;
	padding: 0 20px;
}
.header__lang:hover .lang__list:nth-of-type(n + 2) .lang__link,
.header__lang:focus-within .lang__list:nth-of-type(n + 2) .lang__link {
	font-size: inherit;
	background-color: var(--light);
	padding: 10px;
}
.lang__link {
	display: flex;
	align-items: baseline;
	transition: 0.3s;
}
.lang__link:only-child {
	padding: 10px;
}
.lang__link i {
	font-size: 0.8rem;
	color: var(--theme-color-6);
	margin-left: 11px;
}
.lang__link:hover,
.lang__link:focus {
	color: var(--theme-color);
}
.header__burger {
	display: flex;
	align-items: center;
}
.header__burger:hover .navbar__button span,
.header__burger:focus-within .navbar__button span {
	background-color: var(--theme-color);
}
.header__burger > span:first-of-type {
	margin-right: 7px;
}
.navbar__button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 24px;
	width: 24px;
	background-color: transparent;
	border: none;
	transition: 0.3s;
}
.navbar__button span {
	height: 3px;
	width: 25px;
	background-color: var(--theme-color-6);
	transition: 0.3s;
}
.navbar__button span:nth-of-type(n + 2) {
	margin-top: 4px;
}
/**================= nav-main start ===================*/
.header__nav-main {
	background-color: #e5eeff;
	position: absolute;
	left: 0;
	right: 0;
	top: 87px;
	border-top: 1px solid #c0d3fe;
	border-bottom: 1px solid #c0d3fe;
	padding: 1px 0;
	overflow: hidden;
	transform: scaleY(0);
	transform-origin: 0 0;
	transition: 0.3s;
}
.header__nav-main.active {
	transform: scaleY(1);
	overflow: visible;
}
.header__nav-main.active-fixed {
	transform: scaleY(1);
	overflow: visible;
	position: fixed;
	top: 0;
	z-index: 10;
}
.nav-main-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__sub-logo {
	position: relative;
	width: 100px;
}
.header__sub-logo .sub-logo {
	position: absolute;
	top: -25px;
}
.sub-logo:hover,
.sub-logo:focus {
	box-shadow: var(--sh-theme-2);
}
.header__menu {
	display: inline-flex;
	font-size: 2rem;
}
.menu__link {
	padding: 24px 24px;
	border-bottom: 3px solid #e5eeff;
	border-top: 3px solid #e5eeff;
}
.menu__list:nth-last-of-type(n + 2):hover .menu__link,
.menu__list:nth-last-of-type(n + 2):focus-within .menu__link {
	color: var(--theme-color-2);
	border-bottom: 3px solid var(--theme-color-2);
}
.menu__list:last-of-type {
	margin-left: 15px;
	color: var(--theme-color-6);
}
.menu__list:last-of-type:hover .menu__link,
.menu__list:last-of-type:focus-within .menu__link {
	border-bottom: 3px solid var(--theme-color-6);
}
/**================= nav-main end ===================*/
/*TODO================= HEADER END ===================*/

/*TODO================= MAIN START ===================*/
/**================= crumbs start ===================*/
.crumbs {
	padding: 33px 0;
	font-size: 1.6rem;
	font-weight: 300;
	color: var(--theme-color-6);
}
.crumbs__lists {
	display: flex;
}
.crumbs__lists li {
	display: inline-flex;
	align-items: center;
}
.crumbs__lists li:nth-last-of-type(n + 2):after {
	content: "➝";
	font-size: 1.8rem;
	color: var(--dark);
	margin: 0 15px;
}
.crumbs__link:hover,
.crumbs__link:focus {
	text-decoration: underline;
}
.crumbs__current {
	color: var(--theme-color-4);
}
/**================= to-hosp start ===================*/
.to-hosp-container {
	display: flex;
	color: var(--light);
}
.to-hosp__cont {
	width: 50%;
	background: linear-gradient(
		130.14deg,
		var(--theme-color-2) 45.98%,
		var(--theme-color-3) 91.19%
	);
	padding: 66px 90px 82px;
}

.to-hosp__sub-logo {
	margin-bottom: 26px;
}
.to-hosp_name {
	display: flex;
	align-items: baseline;
	margin-bottom: 34px;
}
.to-hosp_name h3 {
	font-size: 3.6rem;
	font-weight: bold;
	line-height: 0.8;
	margin-right: 25px;
}
.to-hosp_name h3 span {
	font-size: 1.6rem;
	font-weight: 450;
	opacity: 0.8;
}
.to-hosp__rating {
	display: flex;
	align-items: center;
	border: 2px solid var(--light);
	border-radius: 4px;
	padding: 2px 4px;
}
.to-hosp__rating .icons-theme-2 {
	margin-right: 7px;
}
.contacts__lists {
	margin-bottom: 42px;
}
.contacts__lists .contacts__list:nth-of-type(n + 2) {
	margin-top: 5px;
}
.contacts__link {
	line-height: 1.2;
	transition: 0.3s;
	padding: 10px 0;
}
.contacts__link .icons-theme-2 {
	margin-right: 14px;
}
.contacts__link:hover,
.contacts__link:focus {
	text-shadow: var(--sh-theme-2);
	color: rgb(233, 233, 233);
}
.contacts__list a[href="javascript:void(0)"] {
	display: inline-flex;
	align-items: center;
}
.contacts__list ._icon-arr {
	margin-left: 10px;
}
.contacts__btn.button-theme-2 {
	color: var(--light);
	border: 1px solid var(--light);
	padding: 17px 32px;
	font-size: 1.6rem;
	font-weight: bold;
}
.contacts__btn.button-theme-2:hover,
.contacts__btn.button-theme-2:focus {
	color: var(--theme-color-2);
	background-color: var(--light);
}
.sub-cont {
	background-color: var(--light);
	padding: 18px 0 26px;
	border: 1px solid #c0d3fe;
	border-radius: 8px;
	display: block;
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 25px;
	transition: 0.3s;
	transform: scaleY(0);
	transform-origin: 10px 20px;
}
.sub-cont.active {
	visibility: visible;
	transform: scaleY(1);
}
.sub-cont-title h4 {
	color: var(--dark);
	font-weight: normal;
	font-size: 1.4rem;
	margin-right: 22px;
}
.sub-cont-title {
	border-bottom: 1px solid #c0d3fe;
	padding: 0 30px 18px 41px;
	display: flex;
	align-items: center;
}
.sub-contacts__btn {
	background-color: transparent;
	border: none;
}
.sub-contacts__btn .icons-theme-1 {
	color: var(--theme-color-4);
}
.sub-contacts__btn:hover .icons-theme-1,
.sub-contacts__btn:focus .icons-theme-1 {
	color: rgb(250, 150, 150);
	transition: 0.3s;
}
.sub-contacts__lists {
	padding: 20px 26px 0;
}
.sub-contacts__link {
	font-size: 1.6rem;
	color: var(--theme-color-6);
	padding: 10px;
	transition: 0.3s;
}
.sub-contacts__link:nth-of-type(n + 2) {
	margin-top: 8px;
}
.sub-contacts__link:hover,
.sub-contacts__link:focus {
	text-shadow: var(--sh-theme-2);
	color: var(--theme-color-2);
}
.contacts__list-menu {
	position: relative;
}
/*  */
.to-hosp__info {
	width: 50%;
	display: flex;
	flex-direction: column;
	font-size: 2.4rem;
}
.to-hosp__info i {
	margin-right: 13px;
}
.to-hosp__info p {
	font-weight: bold;
	display: flex;
	align-items: flex-end;
	transition: 0.3s;
	background-color: rgba(58, 89, 120, 0.8);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	padding: 52px;
}
.info__blocks:hover p,
.info__blocks:focus p {
	color: transparent;
	background-color: transparent;
}
.info__blocks {
	height: 50%;
	position: relative;
}
.info__blocks:hover::before,
.info__blocks:focus::before {
	background-color: rgba(58, 89, 120, 0);
}
.info__blocks.album {
	background: url(../img/Album.webp) no-repeat center/cover;
}
.info__blocks.map {
	background: url(../img/BigMap.webp) no-repeat center/cover;
}
.p__info .icons-theme-2 {
	margin-right: 13px;
}
/*?================= popups start ===================*/
.photo__slider {
	position: absolute;
	z-index: 100;
	left: 50%;
	transform: translate(-50%);
	display: none;
}
.gallery-top,
.gallery-bottom {
	width: 1413px;
	height: 896px;
}
.gallery-top {
	margin-bottom: 31px;
}
.gallery-top img {
	width: 100%;
	height: auto;
}
.gallery-bottom {
	height: 163px;
}
.gallery-bottom img {
	width: 100%;
	height: auto;
}
.swiper-slide {
	background-size: cover;
}
.photo__slider .sliderBtn {
	background-color: var(--light);
	position: absolute;
}
.photo__slider .sliderBtn:hover,
.photo__slider .sliderBtn:focus {
	background-color: var(--theme-color-2);
}
.photo__slider-container {
	position: relative;
}
.photoBtn-prev-max {
	left: -80px;
	bottom: 50%;
	transform: translateY(50%);
}
.photoBtn-next-max {
	right: -80px;
	bottom: 50%;
	transform: translateY(50%);
	z-index: 999;
}
.photoBtn-prev-min {
	left: -80px;
	bottom: 50%;
	transform: translateY(50%);
}
.photoBtn-next-min {
	right: -80px;
	bottom: 50%;
	transform: translateY(50%);
}
/*?================= popups end ===================*/
/**================= to-hosp end ===================*/
/**================= about start ===================*/
.about {
	padding: 60px 0;
}
.about-container {
	display: flex;
}
.about__hos {
	width: 70%;
	padding-right: 60px;
}
.title-hospital {
	margin-bottom: 35px;
}
.about__hos p {
	font-weight: 300;
	line-height: 1.2;
}
.about__hos p:nth-of-type(n + 2) {
	margin-top: 40px;
}
.about__hos .link-more {
	margin-bottom: 123px;
}
.about__doctors {
	display: flex;
	position: relative;
	padding-top: 13px;
	flex-direction: column;
}
.about__doctors .button {
	position: absolute;
	top: 0;
	right: 0;
}
.title-doctors {
	margin-bottom: 20px;
}
.doctors__lists {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: #3b3b3b;
}
.doctors__lists li {
	width: 27%;
}
.doctors__lists li:nth-of-type(n + 4) {
	margin-top: 17px;
}
.doctors__link {
	padding: 10px 0;
	text-transform: capitalize;
	display: inline-block;
}
.doctors__link::first-letter {
	color: var(--theme-color-3);
}
.doctors__link span {
	color: var(--theme-color-4);
}
.doctors__link:hover,
.doctors__link:hover span,
.doctors__link:hover::first-letter,
.doctors__link:focus,
.doctors__link:focus span,
.doctors__link:focus::first-letter {
	color: var(--theme-color-2);
	text-decoration: underline;
}
.about__time {
	width: 30%;
	padding-left: 6%;
}
.about__time-lists {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.about__time-lists dt {
	width: 50%;
	color: var(--theme-color-5);
}
.about__time-lists dd {
	width: 50%;
	text-align: right;
}
.about__time-lists dt,
.about__time-lists dd {
	padding-bottom: 12px;
	border-bottom: 1px solid var(--theme-color-7);
}
.about__time-lists dt:nth-of-type(n + 2),
.about__time-lists dd:nth-of-type(n + 2) {
	padding-top: 12px;
}
/**================= about end ===================*/
/**================= services start ===================*/
.services {
	padding: 60px 0;
	margin-bottom: 110px;
}
.services__head {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.services__slide {
	display: flex;
	flex-direction: column;
	padding: 30px;
	border: 1px solid var(--theme-color-7);
	border-radius: 8px;
	margin-bottom: 10px;
	transition: 0.3s !important;
	font-size: 1.2rem;
}
.services__slide:hover {
	border-color: var(--theme-color-2);
	box-shadow: var(--sh-theme);
}
.services__desk {
	order: 1;
	font-size: 1.6rem;
	line-height: 1.2;
	margin-bottom: 15px;
}
.services__category {
	order: 2;
	color: #999999;
	margin-bottom: 18px;
}
.services__count {
	order: 3;
}
.services__count {
	color: var(--theme-color-6);
	display: flex;
	justify-content: space-between;
	padding-right: 25px;
}
.services__count i {
	font-size: 2.3rem;
	margin-right: 8px;
}
.services__duration p,
.services__price p {
	display: flex;
	align-items: center;
}
/**================= services end ===================*/
/*TODO================= MAIN END ===================*/
/* Desktop first method

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
	.container-large {
		max-width: 100%;
		/* padding: 0 15px; */
	}
}
/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
	.container {
		max-width: 960px;
	}
}
/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	.container {
		max-width: 720px;
	}
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
/* // X-Small devices (iPhone 5/5s/SE, equals to 320px) */
@media (max-width: 320px) {
}
